.principio{
    width: 100%;
    height: 100%;

}


.barra{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.logoimg{
    width: auto;
    height: 80%;
}
.nombre1{

    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    color: white;
    margin-left: 10px;
}
.nombre2{
    border-radius: 4px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    color: black;
    background-color: white;
    margin-left: 10px;
}
.contenido1{
    margin-left:120px;
    color: white;
    text-decoration: none;
}
.contenedor{
    margin-left:20px;
    color: white;
    text-decoration: none;
}
.lista{
    list-style-type: none;
    display: flex;

}




.inicio{
    height: 500px;
}
.tit{
    margin-top: 130px;
    color: #e2e2e2;
    margin-left: 100px;
}
.contenido{
    margin-top: 20px;
    color: #ffffff;
    margin-left: 100px;
}
.foto{
    width: 500px;
    height: 500px;
    position: relative;
    left: 670px;
    top: -240px;
}



.service{

    margin-left: auto;
    margin-right: auto;
    width:100%;
    height: 500px;
    align-items: center;
    justify-content: center;

}
.conte{
    align-items: center;

    width: 400px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;

}

.texto{

    text-align: center;
    font-family: Lato, sans-serif;
    color: white;
    line-height: 1.5;
}

.nube{
    float: right;
    width: 100px;
    height: 100px;
    margin-right: 100px;
}
.datos{
    float: right;
    width: 100px;
    height: 100px;
    margin-right: 100px;
}
.android{
    width: 100px;
    height: 100px;
    margin-left: 100px;
}




hr{
    color: white;
    width: 100%;
    margin-top: 120px;
}
.contactanos{
    width: 100%;
    height: 300px;
    margin-top: 200px;
}
.titucon{
    margin-top: 50px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
.contitulo{
    font-family: Lato, sans-serif;
    display: flex;

}
.icofacebook{
    width: 30px;
    height: 30px;
    margin-top: 90px;
    margin-left: 120px;
}
.ico1, .ico2,.ico3{
    display: flex;
}

.icotwitter{
    width: 30px;
    height: 30px;
    margin-top: 90px;
    margin-left: 120px;
    margin-bottom: 50px;
}
.icoinstagram,.icocorreo{
    width: 30px;
    height: 30px;
    margin-top: 90px;
    margin-left: 120px;

}

.icotelefono{
    width: 30px;
    height: 30px;
    margin-top: 90px;
    margin-left: 150px;
}

.nomredes{
    font-family: Lato, sans-serif;
    color: white;
    margin-top: 90px;
    margin-left: 20px;
}
.icoseevex{
    width: 100px;
    height: 100px;
    margin-left: 230px;
    margin-top: 50px;
}




